{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <a href="{{ path('cms_page_index') }}" class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</a>
        <h2>Add New Page</h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_start(form) }}

            <div class="form-group clearfix">
                {{ form_label(form.title, 'Title', {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                <div class="col-xs-10">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}})  }}
                </div>
            </div>
            <div class="form-group clearfix">
                {{ form_label(form.content, 'Content', {'label_attr': {'class': 'control-label col-xs-2' }}) }}
                <div class="col-xs-10">
                    {{ form_widget(form.content, {'attr': {'class': 'form-control page-content', 'rows': '10', 'cols': '100'}})  }}
                </div>
            </div>
            <div class="form-group clearfix">
                {{ form_label(form.category, 'Category', {'label_attr': {'class': 'control-label col-xs-2'}}) }}
                <div class="col-xs-10">
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}})  }}
                </div>
            </div><br>

            <div class="form-group pull-right">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
